:root {
    --light: #f7f3eb;
    --dark: #383735;
    --main-highlight-color: firebrick;
    --lighter: #787672;
    --lighter2: #DEDAD3;
    --pink: #F7DFED;
    --cream: #F7EBD2;
    --highlight: #F9DCA2;

    --main-font: "Inter";

    /*vis*/
        /*barras*/
    --cor-barra-normal: goldenrod;
    --cor-barra-destaque: rebeccapurple;

        /*bubbles*/
    --cor-aumento: #BF2C62;
    --cor-reducao: #1E5693;
    --cor-mesmo-valor: #F6E2DF;
    --cor-novas-acoes: #F2A007;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--light);
    color: var(--dark);
}

main {
    margin-top: 1rem;
}

/* titulo */

h1 {
    font-size: 1rem;
}

/* filtros e visualização */

.fieldsets-wrapper {
    display: flex;
    flex-direction: row;
}

fieldset.opcoes-filtros {
    order : 2;
}

fieldset.opcoes-vis {
    order : 1;
}


/* botoes filtro */

fieldset {
    flex: 1;
}

select {
    background-color: transparent;
    border: 2px solid currentColor;
    font-family: var(--main-font);
}

.filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .8rem;
}

.selecoes-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.selecoes-wrapper select + select {
    margin-top: .5rem;
}

.selecoes-wrapper select {
    width: 20vw;
}

/* botoes controle */

.mission-control {
    display: flex;
    justify-content: left;
}

.mission-control button {
    font-size: .9em;
    padding: 0.4em 0.8em;
    margin-right: 1em;
    border: 3px solid white;
    border-radius: 1.5em;
    color: var(--dark);
    background-color: var(--light);
    cursor: pointer;
}

.mission-control button.selected.selected {
    border: 3px solid var(--dark);
    border-radius: 1.5em;
    color: var(--dark);
    background-color: var(--highlight);
    font-weight: bold;
}

.mission-control button:hover {
    background-color: var(--cream);
    border-color: var(--ligther);
}

.option-control {
    margin-top: .5rem;
    font-size: .8rem;
}

div.controle-comparacao {
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
}

div.controle-cores p {
    margin-bottom: 0.5rem;
}

.mission-control button.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/*
[name='seletor-comparacao'] {
    background-color: transparent;
    border: 2px solid currentColor;
    /* border-radius: 10px; 
    font-family: var(--main-font);
} 
*/

/* seletores de cores */

.selecao-adicional-cores {
    font-size: .8rem;
    margin-bottom: 1rem;
}

/* vis */

svg {
    width: 100%;
    height: 100%;
}

.silent {
    pointer-events: none;
}

.axis {
    font-family: "Inter";
    color: var(--ligther);
}

.axis line, .axis path {
    stroke: var(--ligther);
}

/* barras */

rect.acoes {
    stroke : coral;
    fill : var(--pink);
}

/* labels em geral */

p.rotulos-agregado {
    font-size: .7rem;
}

/* labels valor barras */

p.labels-valores-barras {
    position: absolute;
    font-family: var(--main-font);
    margin: 0;
    margin-left: .5rem;
}

/* labels categorias (eixo) */

p.labels-categorias {
    position: absolute;
    font-family: var(--main-font);
    margin: 0;
    padding-right: .5rem;
    transform: translateX(-100%);
    text-align: right;
}

/* rotulos do modo detalhado */

div.rotulos-detalhado {
    position: absolute;
    font-family: var(--main-font);
    margin: 0;
    text-align: center;
    transform: translateX(-50%);

}

div.rotulos-detalhado.rotulos-detalhado-lateral {
    text-align: right;
    transform: translate(-100%, -50%);

}

div.rotulos-detalhado * {
    margin: 0;
    font-size : .8rem;
}

div.rotulos-detalhado h2 {
    margin-bottom: .25rem;
    font-size: 1.2rem;
}

/* linhas de referência */
line.ref {
    stroke-width: 2px;
}

/* tooltip */

div.vis-container {
    position: relative;
}

div#tooltip {
    position: absolute;
    /*background-color: var(--highlight);
    color: var(--dark);*/
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 180px;
    border-radius: 4px;
    padding: 1em;
    pointer-events: none;   
    z-index: 1; 
}

div#tooltip * + * {
    margin-top: .25em;
}

.hidden {
    display: none;
}


/* ***********************
   CARD
   *********************** */

div#card {
    --largura: 460px;
    position : absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    font-family: "Open Sans Condensed";
    max-width: var(--largura);
    background: white;
    border-radius: 1rem;
    z-index: 2;
}

div#card #card-acao_nova {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: .5rem;
    padding: 5px;
    background: var(--cor-novas-acoes);
    border-radius: 5rem;
}

div#card .card-content {
    border: 5px solid var(--dark);
    border-radius: 1rem;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template:
    "header header"
    "geral geral"
    "historico fontes"
    "gnd mod"
    "orgaos orgaos";
}

div#card.hidden {
    pointer-events: none;
}

.card-content div {
    outline: 1px solid tomato;
}

.card-content h2,
.card-content h3,
.card-content h4,
.card-content p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.card-content svg {
    background: goldenrod;
    width: 100%;
    height: 200px;
}


div#card .card-fechar {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bolder;
}

/* grid */

.card-header {
    grid-area: header;
}

.card-vis-geral {
    grid-area: geral;
}

.card-vis-historico {
    grid-area: historico;
}

.card-vis-fontes {
    grid-area: fontes;
}

.card-vis-gnd {
    grid-area: gnd;
}

.card-vis-mod {
    grid-area: mod;
}

.card-vis-orgaos {
    grid-area: orgaos;
}
