:root {
    --light: #f7f3eb;
    --dark: #383735;
    --main-highlight-color: firebrick;
    --ligther: #787672;
    --ligther2: #DEDAD3;
    --pink: #F7DFED;
    --cream: #F7EBD2;
    --highlight: #F9DCA2;

    --main-font: "Inter";

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--light);
    color: var(--dark);
}

main {
    margin-top: 1rem;
}

/* titulo */

h1 {
    font-size: 1rem;
}

/* botoes controle */

.mission-control {
    display: flex;
    justify-content: center;
}

.mission-control button {
    font-size: .9em;
    padding: 0.4em 0.8em;
    margin-right: 1em;
    border: 3px solid white;
    border-radius: 1.5em;
    color: var(--dark);
    background-color: var(--light);
}

.mission-control button.selected.selected {
    border: 3px solid var(--dark);
    border-radius: 1.5em;
    color: var(--dark);
    background-color: var(--highlight);
    font-weight: bold;
}

.mission-control button:hover {
    background-color: var(--cream);
    border-color: var(--ligther);
}

.option-control {
    margin-top: .5rem;
    font-size: .8rem;
}

/* vis */

svg {
    width: 100%;
    height: 100%;
}

.axis {
    font-family: "Inter";
    color: var(--ligther);
}

.axis line, .axis path {
    stroke: var(--ligther);
}

/* rects */

rect.acoes {
    stroke : coral;
    fill : var(--pink);
}

/* card */

div.vis-container {
    position: relative;
}

div#card {
    position: absolute;
    background-color: var(--highlight);
    color: var(--dark);
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    width: 180px;
    border-radius: 4px;
    padding: 1em;
    pointer-events: none;   
    z-index: 1; 
}

div#card * + * {
    margin-top: .5em;
}

.hidden {
    display: none;
}